version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    target-branch: "staging"
    assignees:
      - "vstratful"
    labels:
      - "dependencies"
    commit-message:
      prefix: "deps"
    groups:
      patch-minor:
        patterns:
          - "*"
        update-types:
          - "patch"
          - "minor"
      major:
        patterns:
          - "*"
        update-types:
          - "major"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    target-branch: "staging"
    assignees:
      - "vstratful"
    labels:
      - "dependencies"
    commit-message:
      prefix: "deps"
